/libraries/HTMLPurifier/library/HTMLPurifier/ConfigSchema
/libraries/HTMLPurifier/library/HTMLPurifier/Filter.php
.idea
Будет удалено .idea/copyright/
Будет удалено .idea/deployment.xml
Будет удалено .idea/merdam.iml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
Будет удалено api.php
Будет удалено libraries/
